name: test

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches:
      - main
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: |
          echo test
